.form-wrapper-lost-password {
  max-width: 500px;
  margin: 0 auto;

  .reset-password-text {
    margin-bottom: 30px;
    text-align: center;
  }
}

.form-wrapper-password {
  max-width: 500px;
  margin: 0 auto;

}

.sts-no-url {
  padding: 30px;
}